*{
    box-sizing: border-box;
    font-family: sans-serif;
  }

body{
    background-color: #E3E3E3;
    margin: 0;
  
  }


footer{
    background-color: #0984e3;
    color: #f2f2f2;
    height: 150px;
  }


h1{
position: relative;
}
.container{
    justify-container: center;
  }